html{
	margin-left: 5px;
}
/*==HEADER==*/
header{
	font-size: 50px; 
	font-style: oblique;
	margin: 10px 10px;
	padding-left: 7px;
	background-image: url('imgref/default_cover.jpg');
}
.headerdesc{
	font-size: 25px;
	color: #45c2b7;
}
body{
	margin-right: 100px;
	font-family:arial;
	background-color: #353640;
	color: #E0F0F2;
}
/*==LINKS==*/
a:link, a:visited{
	color: skyblue;
	font-size: 15px;
	font-family: arial;
	background-color: orange;
	padding: 7.5px 15px
}
a:visited{
	color: black;
}
a:hover{
	color: limegreen;
	background-color: yellow;
}
a:active{
	color: #1BEDDB;
	padding: 6.5px 13px;
}
/*==YT Trailers==*/
* {
	box-sizing: border-box;
}
iframe{
	border: 4px solid rgba(255, 0, 0, 0.5);
	max-width: 660px;
	margin: auto;
}
.ggotrailer{
	float: left;
  	width: 50%;
}
.alice1trailer{
	float: left;
	width: 50%;
}
.alice2trailer{
	float: left;
	width: 50%;
}
.clearfix: :after{
  content: "normal";
  clear: both;
  display: table;
}
/*--ALL THE ANIME--*/
.ulanime{
	color: #26DDBC;
	list-style-type: square;
}
/*--ALL THEIR NAMES--*/
.animetitles{
}
/*SAO SERIES*/
.olsao{
	color:#E0F0F2;
}
/*AoT SERIES*/
.olaot{
	color:#E0F0F2;

}
/*--ANIME SAUUUUUUUUCCCCEEEE--*/
.title{
	font-size: 19px;
	font-family: -apple-system, BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
	color: #7DF413;
}
.caps{
	font-weight: normal;
	font-style: italic;
	color: #FF0000;
	text-align: center;
}
table, th, td{
	border-collapse: collapse;
	border: solid 1px;
	font-size: 15px;
	color:#EEEEEE;
	padding: 5px;
	font-weight: normal;
	width: 600px;
}
th{
	font-weight: 500;
	color: #FF0000;
	border-color: #EEEEEE;
}
	/*--ANIME DESCRIPTION--*/
	.desc{
		font-size: 15px;
		font-family: -apple-system, BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
		color: #7DF413;
		font-weight: normal;
		color:#E0F0F2;
	}
/*==SYNOPSISTAG*/
.synopsistag{
	font-weight: normal;
	margin-top: 10px;
	margin-top: 0px;
	font-size: 15px;
	color: #FF0000;
}
/*==MAIN BODY SYNOPSIS==*/
.synopsis{
	font-weight: normal;
	font-size: 14px;
	padding-left: 5px; 
	margin-top: 0px;
}
.trailers{
	margin: 0px;
	font-family: -apple-system, BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
	font-style: italic;
}
footer{
	background-color: #55B6B0;
	color: black; 
	margin: 20px;
	border: 2px solid #4C8D87;
	padding-left: 4px;
}